@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: '10436';
  src: url('../fonts/Citrica/10436.eot');
  src: url('../fonts/Citrica/10436.woff2') format('woff2'),
       url('../fonts/Citrica/10436.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CitricaCyrillic';
  src: url('../fonts/Citrica/CitricaCyrillic.woff') format('woff'),
       url('../fonts/Citrica/CitricaCyrillic.ttf') format('truetype'),
       url('../fonts/Citrica/CitricaCyrillic.svg#CitricaCyrillic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrushType_cyr';
  src: url('../fonts/BrushType/BrushType_cyr.woff') format('woff'),
       url('../fonts/BrushType/BrushType_cyr.ttf') format('truetype'),
       url('../fonts/BrushType/BrushType_cyr.svg#BrushType_cyr') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brushtype-normal';
  src: url('../fonts/BrushType/brushtype-normal.eot');
  src: url('../fonts/BrushType/brushtype-normal.woff2') format('woff2'),
       url('../fonts/BrushType/brushtype-normal.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa-Regular';
  src: url('../fonts/Comfortaa/Regular/Comfortaa-Regular.eot');
  src: url('../fonts/Comfortaa/Regular/Comfortaa-Regular.woff2') format('woff2'),
       url('../fonts/Comfortaa/Regular/Comfortaa-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa/Regular/Comfortaa.woff') format('woff'),
       url('../fonts/Comfortaa/Regular/Comfortaa.ttf') format('truetype'),
       url('../fonts/Comfortaa/Regular/Comfortaa.svg#Comfortaa') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '8436';
  src: url('../fonts/Intro/8436.eot');
  src: url('../fonts/Intro/8436.woff2') format('woff2'),
       url('../fonts/Intro/8436.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-Regular';
  src: url('../fonts/Intro/Intro-Regular.woff') format('woff'),
       url('../fonts/Intro/Intro-Regular.ttf') format('truetype'),
       url('../fonts/Intro/Intro-Regular.svg#Intro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}