@font-face {
  font-family: '8436';
  src: url('8436.eot');
  src: url('8436.woff2') format('woff2'),
       url('8436.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-Regular';
  src: url('Intro-Regular.woff') format('woff'),
       url('Intro-Regular.ttf') format('truetype'),
       url('Intro-Regular.svg#Intro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

