*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
main {
  position: relative;
}
.carousel-inner > .item > img {
  height: 100vh;
  width: 100vw;
}
.carousel-inner {
  height: 100vh;
}
.carousel {
  height: 100vh;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.left img,
.right img {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -30px;
}
.carousel-control {
  width: 10%;
}
.head {
  width: 62%;
  position: absolute;
  left: 100px;
  top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head a {
  color: #fff;
  font-size: 1.4em;
}
.head .logo {
  margin-right: 50px;
}
.head .phone a {
  font-family: "Neris-Black";
}
.head .offer a,
.head .present a {
  font-family: "Neris-Thin";
  text-decoration: underline;
}
.complex {
  bottom: 100px!important;
}
.annot-inner {
  position: absolute;
  left: 270px;
  bottom: 20%;
}
.annot-inner h1 {
  font-family: "Neris-Black";
  color: #fff;
  font-size: 75px;
}
.annot-inner h1:before {
  content: "";
  display: block;
  height: 10px;
  width: 100px;
  background-color: #fcb040;
  margin-bottom: 20px;
  margin-left: 4px;
}
.annot-inner span {
  color: #fcb040;
}
.annot-inner p {
  color: #fff;
  font-size: 28px;
  font-family: "Neris-Light";
}
.annot {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  animation: grow 14s linear 10ms infinite;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
}
.phone {
  white-space: nowrap;
}
.phone img,
.offer img,
.present img {
  margin-right: 10px;
}
.scroll_d {
  position: absolute;
  left: 50%;
  bottom: 20px;
  cursor: pointer;
  margin-left: -12px;
}
.scroll_d img {
  width: 75%;
}
.menu {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 12;
}
.menu .hamburger-inner,
.menu .hamburger-inner:after,
.menu .hamburger-inner:before {
  background-color: #fff;
}
.menu button:focus {
  outline: none;
}
nav {
  position: absolute;
  top: 0;
  right: -400px;
  height: 100vh;
  background-color: #3a3a3c;
  width: 400px;
  padding: 20vh 60px 60px 60px;
  transition: 0.7s ease;
}
nav li {
  list-style-type: none;
  font-size: 2em;
}
nav li a {
  color: #fff;
  font-family: "Neris-Light";
}
nav li a:hover {
  color: #fcb040;
  text-decoration: none;
}
nav .active a {
  color: #fcb040;
  font-family: "Neris-Black";
}
nav ul {
  padding-left: 0;
}
nav .social_block {
  position: absolute;
  bottom: 50px;
  width: 280px;
  color: #fff;
}
nav .social_block h4 {
  font-family: "Neris-Light";
}
nav .social_block p {
  font-family: "Neris-Thin";
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
nav .social_block img {
  display: block;
  margin: 0 auto 20px;
}
nav .social_block .fa {
  color: #4d4d4f;
  font-size: 2.5em;
}
nav .social_block .social {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
nav .social_block .social i:hover {
  color: #fff;
  transition: 0.3s ease-in;
}
.wrap {
  width: 100%;
  height: 800px;
}
.wrap .left_wrap {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #3a3a3c;
  background-image: url('../img/net_dark.png');
  background-position: center;
  background-size: cover;
}
.wrap .left_wrap .about {
  margin-top: 80px;
  width: 230px;
  margin-left: auto;
  margin-right: 20%;
}
.wrap .left_wrap .about h1 {
  font-family: "Neris-Light";
  font-size: 2em;
  color: #fff;
  margin-bottom: 110px;
}
.wrap .left_wrap .about h1:before {
  content: "";
  display: block;
  height: 6px;
  width: 50px;
  background-color: #fcb040;
  margin-bottom: 20px;
}
.wrap .left_wrap .about p {
  font-family: "Neris-Thin";
  font-size: 1em;
  color: #fff;
  margin-bottom: 30px;
}
.wrap .left_wrap .about a {
  color: #fff;
  font-family: "Neris-Thin";
  text-decoration: none;
}
.wrap .left_wrap .about a:hover {
  font-weight: bold;
}
.wrap .left_wrap .about .more img {
  margin-right: 10px;
}
.wrap .right_wrap {
  float: left;
  width: 50%;
  height: 100%;
  background-image: url('../img/net_grey.png');
  background-position: center;
  background-size: cover;
}
.wrap .right_wrap .services {
  width: 400px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.wrap .right_wrap .services .service {
  width: 50%;
}
