*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
main {
  position: relative;
  max-width: 100vw;
  height: 100vh;
}
.carousel-inner > .item > img {
  height: 100vh;
  max-width: 100vw;
}
.carousel-inner {
  height: 100vh;
  max-width: 100vw;
}
.carousel {
  height: 100vh;
  max-width: 100vw;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.left img,
.right img {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -30px;
}
.carousel-control {
  width: 10%;
}
.head {
  width: 68%;
  position: absolute;
  left: 100px;
  top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head a {
  color: #fff;
  font-size: 1.4em;
}
.head a:hover {
  outline: none;
  color: #fcb040;
}
.head .logo {
  margin-right: 50px;
}
.head .phone a {
  font-family: "Neris-Black";
}
.head .offer a,
.head .present a {
  font-family: "Neris-Thin";
  text-decoration: underline;
}
.complex {
  bottom: 100px!important;
}
.annot-inner {
  position: absolute;
  left: 270px;
  bottom: 20%;
}
.annot-inner h1 {
  font-family: "Neris-Black";
  color: #fff;
  font-size: 75px;
}
.annot-inner h1:before {
  content: "";
  display: block;
  height: 10px;
  width: 100px;
  background-color: #fcb040;
  margin-bottom: 20px;
  margin-left: 4px;
}
.annot-inner span {
  color: #fcb040;
}
.annot-inner p {
  color: #fff;
  font-size: 28px;
  font-family: "Neris-Light";
}
.annot {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100vw;
  animation: grow 7s linear 1000ms;
  overflow-x: hidden;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
  overflow-x: hidden;
}
.phone {
  white-space: nowrap;
}
.phone img,
.offer img,
.present img {
  margin-right: 10px;
}
.scroll_d {
  position: absolute;
  left: 50%;
  bottom: 20px;
  cursor: pointer;
  margin-left: -10px;
  animation: mouse 3.5s linear 10ms infinite;
}
.scroll_d img {
  width: 75%;
  display: block;
  margin: 0 auto;
}
.menu {
  position: fixed;
  top: 35px;
  right: 35px;
  z-index: 12;
  transition: 0.5s;
}
.menu .hamburger-inner,
.menu .hamburger-inner:after,
.menu .hamburger-inner:before {
  background-color: #fff;
}
.menu .hamburger-box {
  height: 10px;
}
.menu button:focus {
  outline: none;
}
.bg_orange {
  background-color: #fcb040;
  transition: 0.5s;
}
nav {
  display: none;
  position: fixed;
  top: 0;
  right: -400px;
  height: 100vh;
  background-color: #3a3a3c;
  width: 400px;
  padding: 20vh 60px 60px 60px;
  z-index: 11;
}
nav li {
  list-style-type: none;
  font-size: 2em;
}
nav li a {
  color: #fff;
  font-family: "Neris-Light";
}
nav li a:hover {
  color: #fcb040;
  text-decoration: none;
}
nav li a:focus {
  outline: none;
  color: #fcb040;
}
nav .active a {
  color: #fcb040;
  font-family: "Neris-Black";
}
nav ul {
  padding-left: 0;
}
nav .social_block {
  position: absolute;
  bottom: 50px;
  width: 280px;
  color: #fff;
}
nav .social_block h4 {
  font-family: "Neris-Light";
}
nav .social_block p {
  font-family: "Neris-Thin";
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
nav .social_block img {
  display: block;
  margin: 0 auto 20px;
}
nav .social_block .fa {
  color: #4d4d4f;
  font-size: 2.5em;
}
nav .social_block .social {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
nav .social_block .social i:hover {
  color: #fff;
  transition: 0.3s ease-in;
}
.wrap {
  height: 100vh;
  width: 100vw;
  background-color: #3a3a3c;
}
.wrap .left_wrap {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #3a3a3c;
  background-image: url('../img/net_dark.png');
  background-position: center;
  background-size: cover;
}
.wrap .left_wrap .about {
  width: 230px;
  margin-left: auto;
  margin-right: 20%;
  z-index: 2;
  position: absolute;
  left: 55%;
  top: 100px;
}
.wrap .left_wrap .about h1 {
  font-family: "Neris-Light";
  font-size: 2em;
  color: #fff;
  margin-bottom: 110px;
  margin-top: 0;
}
.wrap .left_wrap .about h1:before {
  content: "";
  display: block;
  height: 6px;
  width: 50px;
  background-color: #fcb040;
  margin-bottom: 20px;
}
.wrap .left_wrap .about p {
  font-family: "Neris-Thin";
  font-size: 1em;
  color: #fff;
  margin-bottom: 30px;
}
.wrap .left_wrap .about a {
  color: #fff;
  font-family: "Neris-Thin";
  text-decoration: none;
}
.wrap .left_wrap .about a:hover {
  font-weight: bold;
}
.wrap .left_wrap .about .more img {
  margin-right: 10px;
}
.wrap .right_wrap {
  float: left;
  width: 50%;
  height: 100%;
  background-image: url('../img/net_grey.png');
  background-position: center;
  background-size: cover;
  background-color: #fff;
  z-index: 3;
  position: relative;
}
.wrap .right_wrap .services {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-left: 10%;
  width: 500px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;
}
.wrap .right_wrap .services .service {
  box-sizing: border-box;
  width: 50%;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
}
.wrap .right_wrap .services .service:nth-child(7),
.wrap .right_wrap .services .service:nth-child(8) {
  margin-bottom: 20px;
}
.wrap .right_wrap .services .service:hover,
.wrap .right_wrap .services .service .hover {
  transition: 0.7s;
}
.wrap .right_wrap .services .service:hover .serv_img,
.wrap .right_wrap .services .service .hover .serv_img,
.wrap .right_wrap .services .service:hover p,
.wrap .right_wrap .services .service .hover p,
.wrap .right_wrap .services .service:hover .details,
.wrap .right_wrap .services .service .hover .details {
  transform: translateY(-20px);
  transition: 0.7s;
}
.wrap .right_wrap .services .service:hover .serv_img,
.wrap .right_wrap .services .service .hover .serv_img {
  opacity: 0;
  height: 0px;
  transition: 0.7s;
  transform: scale(0);
}
.wrap .right_wrap .services .service:hover .details,
.wrap .right_wrap .services .service .hover .details {
  height: 40px;
  opacity: 1;
  transition: 0.7s;
  transform: scale(1);
}
.wrap .right_wrap .services .service p {
  width: 100%;
  text-align: center;
  font-family: "Neris-Light";
  transition: 0.7s;
}
.wrap .right_wrap .services .service p:before {
  transition: 0.7s;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fcb040;
  margin-bottom: 15px;
  margin-top: 15px;
}
.wrap .right_wrap .services .service h6 {
  width: 100%;
  text-align: center;
  font-family: "Neris-Light";
  transition: 0.7s;
  color: #000;
  font-size: 1em;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrap .right_wrap .services .service .details {
  text-align: center;
  font-family: "Neris-Light";
  padding: 5px 10px 5px 10px;
  width: 60%;
  height: 0px;
  transform: scale(0);
  opacity: 0;
  transition: 0.7s;
  border: 1px solid #fcb040;
  text-decoration-color: #fcb040;
}
.wrap .right_wrap .services .service .details a {
  color: #000;
  transition: 0.7s;
}
.serv_img {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.7s;
}
.serv_img img {
  height: 75px;
}
.exterier_bg,
.interier_bg,
.complex_bg,
.tour_bg,
.style_bg,
.object_bg,
.animate_bg,
.develop_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: 0.3s;
  z-index: 2;
}
.exterier_bg {
  background-image: url('../img/ext_big.jpg');
}
.interier_bg {
  background-image: url('../img/inter_big.jpg');
}
.complex_bg {
  background-image: url('../img/complex_big.jpg');
}
.tour_bg {
  background-image: url('../img/anim_big.jpg');
}
.style_bg {
  background-image: url('../img/style_big.jpg');
}
.object_bg {
  background-image: url('../img/object_big.jpg');
}
.animate_bg {
  background-image: url('../img/anim_big.jpg');
}
.develop_bg {
  background-image: url('../img/site_big.jpg');
}
.desc_over_ext,
.desc_over_int,
.desc_over_tour,
.desc_over_com,
.desc_over_st,
.desc_over_ob,
.desc_over_an,
.desc_over_dev {
  height: 100%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  margin-left: auto;
  z-index: 1;
  transition: 0.5s;
}
.desc_over_ext .desc,
.desc_over_int .desc,
.desc_over_tour .desc,
.desc_over_com .desc,
.desc_over_st .desc,
.desc_over_ob .desc,
.desc_over_an .desc,
.desc_over_dev .desc {
  padding-top: 80px;
  height: 100%;
  width: 230px;
  margin-left: 50px;
  margin-right: 20%;
}
.desc_over_ext .desc h1,
.desc_over_int .desc h1,
.desc_over_tour .desc h1,
.desc_over_com .desc h1,
.desc_over_st .desc h1,
.desc_over_ob .desc h1,
.desc_over_an .desc h1,
.desc_over_dev .desc h1 {
  font-family: "Neris-Light";
  font-size: 2em;
  color: #fff;
  margin-bottom: 110px;
}
.desc_over_ext .desc h1:before,
.desc_over_int .desc h1:before,
.desc_over_tour .desc h1:before,
.desc_over_com .desc h1:before,
.desc_over_st .desc h1:before,
.desc_over_ob .desc h1:before,
.desc_over_an .desc h1:before,
.desc_over_dev .desc h1:before {
  content: "";
  display: block;
  height: 6px;
  width: 50px;
  background-color: #fcb040;
  margin-bottom: 20px;
}
.desc_over_ext .desc p,
.desc_over_int .desc p,
.desc_over_tour .desc p,
.desc_over_com .desc p,
.desc_over_st .desc p,
.desc_over_ob .desc p,
.desc_over_an .desc p,
.desc_over_dev .desc p {
  font-family: "Neris-Thin";
  font-size: 1em;
  color: #fff;
  margin-bottom: 30px;
}
.desc_over_ext .desc a,
.desc_over_int .desc a,
.desc_over_tour .desc a,
.desc_over_com .desc a,
.desc_over_st .desc a,
.desc_over_ob .desc a,
.desc_over_an .desc a,
.desc_over_dev .desc a {
  color: #fff;
  font-family: "Neris-Thin";
  text-decoration: none;
}
.desc_over_ext .desc a:hover,
.desc_over_int .desc a:hover,
.desc_over_tour .desc a:hover,
.desc_over_com .desc a:hover,
.desc_over_st .desc a:hover,
.desc_over_ob .desc a:hover,
.desc_over_an .desc a:hover,
.desc_over_dev .desc a:hover {
  font-weight: bold;
}
.triggers {
  display: inline-block;
  width: 100%;
  background-image: url("../img/bg_trig.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.triggers .triggers_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
  margin: 120px auto 100px auto;
}
.triggers .triggers_inner .trigger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 270px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.35);
}
.triggers .triggers_inner .trigger h1 {
  font-family: "Neris-Black";
  font-size: 2.8em;
  color: #fcb040;
  margin-top: 10px;
}
.triggers .triggers_inner .trigger h1:before {
  content: "";
  display: block;
  height: 7px;
  width: 50px;
  margin: 0 auto;
  background-color: #fcb040;
  margin-bottom: 30px;
  margin-top: -40px;
}
.triggers .triggers_inner .trigger p {
  font-family: "Neris-Thin";
  font-size: 1.2em;
  color: #fff;
  padding: 10px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}
.clients {
  width: 100%;
  float: left;
  background-color: #fff;
  position: relative;
}
.clients h1 {
  font-family: "Neris-Light";
  font-size: 2em;
  color: #000;
  text-align: center;
}
.clients h1:before {
  content: "";
  display: block;
  height: 7px;
  width: 50px;
  margin: 0 auto;
  background-color: #fcb040;
  margin-bottom: 15px;
  margin-top: 30px;
}
.clients .clients-inner {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.clients .client {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  padding: 15px;
}
.clients .client img {
  max-width: 100%;
  opacity: 0.3;
  max-height: 100px;
}
.clients .client img:hover {
  opacity: 0.8;
}
.clients .client #energo_img {
  opacity: 0.7;
}
.clients .client #energo_img:hover {
  opacity: 1;
}
.clients #arrow_d {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -11px;
  margin-bottom: 10px;
  display: block;
  animation: arrow 3.5s linear 10ms infinite;
}
.clients .reviews {
  position: relative;
  width: 100%;
  text-align: center;
}
.clients a#review {
  font-family: "Neris-Light";
  font-size: 1.2em;
  color: #000;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.clients a#review:before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 50%;
  background-color: #fcb040;
  -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  left: 0%;
  bottom: -0.5em;
}
.clients a#review:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 50%;
  background-color: #fcb040;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  left: 50%;
  bottom: -0.5em;
}
.clients a#review:hover {
  text-decoration: none;
  font-weight: bold;
}
.clients a#review:hover:before {
  width: 60%;
  left: -10%;
}
.clients a#review:hover:after {
  width: 60%;
}
.clients a#review:focus {
  text-decoration: none;
  outline: none;
}
.bid {
  width: 100%;
  float: left;
  background-image: url('../img/bg_offer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bid .bid-inner {
  position: relative;
  width: 890px;
  height: 450px;
  margin: 8% auto;
  background-color: #fff;
  padding: 40px 60px;
}
.bid .bid-inner .bid_fields {
  float: left;
  width: 570px;
  margin-right: 50px;
}
.bid .bid-inner .bid_fields h2 {
  font-family: "Neris-Black";
  color: #fbb041;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
.bid .bid-inner .bid_fields h3 {
  font-family: "Neris-Light";
  color: #414042;
  margin-top: 10px;
}
.bid .bid-inner .bid_fields #done {
  background-color: #fcb040;
  color: #fff;
  font-family: "Neris-Light";
  border: none;
  padding: 0px 40px 5px 40px;
  font-size: 1.5em;
}
.bid .bid-inner .bid_fields #done:focus {
  outline: none;
  transform: scale(0.95);
}
.bid .bid-inner .bid_fields input {
  font-family: "Neris-Light";
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  margin-bottom: 10px;
  box-shadow: none;
  webkit-box-shadow: none;
}
.bid .bid-inner .bid_fields textarea {
  margin-bottom: 10px;
}
.bid .bid-inner .bid_social {
  float: left;
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.bid .bid-inner .bid_social .bid_soc_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.bid .bid-inner .bid_social .bid_soc_inner p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.85em;
  line-height: 1.2em;
}
.bid .bid-inner .bid_social .fa {
  color: #58585a;
  margin-top: 20px;
}
.bid .bid-inner .bid_social .fa:hover {
  color: #000;
  transition: 0.5s;
  transform: scale(1.1);
}
.bid .bid-inner .bid_social .social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}
.bid .bid-inner .bid_social .social a:focus {
  outline: none;
}
footer {
  float: left;
  background: linear-gradient(0deg, #000 1%, #3a3a3c 50%);
  height: 260px;
  width: 100%;
  color: #fff;
  font-family: "Neris-Light";
}
footer .footer-inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .footer-inner .copyright img {
  display: none;
}
footer .footer-inner .footer_nav {
  font-family: "Neris-Thin";
}
footer .footer-inner .footer_nav ul {
  list-style-type: none;
}
footer .footer-inner .footer_nav a {
  color: #fff;
  text-decoration: none;
}
footer .footer-inner .footer_nav a:hover {
  outline: none;
  color: #fcb040;
}
footer .footer-inner .contacts a {
  color: #fff;
  text-decoration: none;
  line-height: 2em;
}
footer .footer-inner .contacts a:hover {
  font-weight: bold;
}
footer .footer-inner .contacts a:hover .fa {
  color: #fff;
}
footer .footer-inner .contacts p {
  margin-top: 5px;
  display: inline-block;
}
footer .footer-inner .contacts .fa {
  margin: 0 10px 0 0;
}
footer .footer-inner .fa {
  color: #58585a;
  margin-top: 20px;
  margin-left: 20px;
}
footer .footer-inner .fa:hover {
  color: #fff;
  transition: 0.5s;
  transform: scale(1.1);
}
footer .footer-inner .social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2em;
  margin-bottom: 10px;
}
.airplane img {
  width: 90px;
  z-index: 4;
  position: fixed;
  right: 90px;
  bottom: -170px;
  opacity: 0.8;
  animation: up 5s linear 10ms infinite;
  transition: 0.7s;
}
.air_on {
  bottom: 30px!important;
  transition: 0.7s;
}
@keyframes up {
  55% {
    margin-bottom: 0px;
  }
  65% {
    margin-bottom: 15px;
  }
  75% {
    margin-bottom: 0px;
  }
}
@keyframes mouse {
  20% {
    bottom: 30px;
  }
  40% {
    bottom: 20px;
  }
  50% {
    bottom: 25px;
  }
  70% {
    bottom: 20px;
  }
}
@keyframes arrow {
  55% {
    margin-bottom: 14px;
  }
  65% {
    margin-bottom: 17px;
  }
  75% {
    margin-bottom: 14px;
  }
}
.proj_head {
  width: 100%;
  height: 350px;
  background-image: url('../img/bg_project.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proj_head .logo img {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.portfolio {
  display: block;
  background-image: url('../img/net_grey.png');
  background-position: center;
  background-size: contain;
  background-color: #fff;
  padding-bottom: 30px;
}
.portfolio h1 {
  font-family: "Neris-Light";
  font-size: 2em;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  padding-top: 50px;
}
.portfolio h1:before {
  content: "";
  display: block;
  height: 7px;
  width: 50px;
  margin: 0 auto;
  background-color: #fcb040;
  margin-bottom: 15px;
}
.portfolio button {
  display: block;
  margin: 0 auto;
  background-color: #fcb040;
  color: #fff;
  font-family: "Neris-Light";
  border: none;
  padding: 0px 40px 5px 40px;
  font-size: 1.5em;
  margin-bottom: 50px;
}
.portfolio button:active {
  outline: none;
  transform: scale(0.95);
}
.portfolio button:focus {
  outline: none;
}
.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding-left: 0;
  margin-bottom: 20px;
}
.portfolio ul li {
  width: 25%;
  list-style: none;
  text-align: center;
}
.portfolio ul li a.selected {
  text-decoration: none;
  font-weight: bold;
  background-color: #fcb040;
  transition: 0.5s;
  padding: 5px 20px 7px 20px;
  color: #fff;
}
.portfolio ul li a.selected:before {
  width: 0%;
  left: 50%;
}
.portfolio ul li a.selected:after {
  width: 0%;
  left: 50%;
}
.portfolio ul li a.selected:hover:before {
  width: 0%;
  left: 50%;
}
.portfolio ul li a.selected:hover:after {
  width: 0%;
  left: 50%;
}
.portfolio ul li a {
  font-family: "Neris-Light";
  font-size: 1.2em;
  color: #000;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  padding: 5px 5px 7px 5px;
}
.portfolio ul li a:before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 50%;
  background-color: #fcb040;
  -webkit-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  left: 0%;
  bottom: 0em;
}
.portfolio ul li a:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 50%;
  background-color: #fcb040;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  left: 50%;
  bottom: 0em;
}
.portfolio ul li a:hover {
  text-decoration: none;
  font-weight: bold;
}
.portfolio ul li a:hover:before {
  width: 60%;
  left: -10%;
  z-index: 10;
}
.portfolio ul li a:hover:after {
  width: 60%;
  z-index: 10;
}
.portfolio ul li a:active,
.portfolio ul li a:focus {
  text-decoration: none;
}
.portfolio .proj_wrap {
  margin-top: 20px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .proj_wrap .proj {
  max-height: 400px;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
}
.portfolio .proj_wrap .proj:hover {
  filter: blur(0);
  transition: 0.5s;
}
.portfolio .proj_wrap .proj .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.portfolio .proj_wrap .proj .overlay:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
}
.portfolio .proj_wrap #proj1 {
  background-image: url('../img/proj_1.jpg');
}
.portfolio .proj_wrap #proj2 {
  background-image: url('../img/proj_2.jpg');
}
.portfolio .proj_wrap #proj3 {
  background-image: url('../img/proj_3.jpg');
}
.portfolio .proj_wrap #proj4 {
  background-image: url('../img/proj_4.jpg');
}
.portfolio .proj_wrap #proj5 {
  background-image: url('../img/proj_5.jpg');
}
.portfolio .proj_wrap #proj6 {
  background-image: url('../img/proj_6.jpg');
}
.portfolio .proj_wrap #proj7 {
  background-image: url('../img/proj_7.jpg');
}
.portfolio .proj_wrap #proj8 {
  background-image: url('../img/proj_8.jpg');
}
.portfolio .proj_wrap #proj9 {
  background-image: url('../img/proj_5.jpg');
}
.portfolio .proj_wrap #proj10 {
  background-image: url('../img/proj_6.jpg');
}
.portfolio .proj_wrap #proj11 {
  background-image: url('../img/proj_7.jpg');
}
.portfolio .proj_wrap #proj12 {
  background-image: url('../img/proj_8.jpg');
}
.contacts_head {
  width: 100%;
  height: 350px;
  background-image: url('../img/bg_contacts.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts_head .logo img {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.cont_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('../img/net_grey.png');
  background-position: center;
  background-size: contain;
  background-color: #fff;
  padding-bottom: 30px;
}
.cont_wrap h1 {
  font-family: "Neris-Light";
  font-size: 2em;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  padding-top: 50px;
}
.cont_wrap h1:before {
  content: "";
  display: block;
  height: 7px;
  width: 50px;
  margin: 0 auto;
  background-color: #fcb040;
  margin-bottom: 15px;
}
.cont_wrap p#cont_p {
  font-family: "Neris-Light";
  font-size: 1.35em;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 45%;
}
.cont_wrap img#arrow_down {
  margin-bottom: 30px;
}
.cont_wrap a {
  font-family: "Neris-Light";
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  margin: 0;
}
.cont_wrap .bid_btn {
  background-color: #fcb040;
  font-family: "Neris-Light";
  font-size: 1.3em;
  color: #fff;
  border: none;
  padding: 3px 20px 7px 20px;
}
.cont_wrap .bid_btn:active,
.cont_wrap .bid_btn:focus {
  outline: none;
}
.cont_wrap .bid_btn:active {
  transform: scale(0.95);
}
.cont_wrap .fa {
  color: #58585a;
  margin-top: 20px;
}
.cont_wrap .fa:hover {
  color: #000;
  transition: 0.5s;
  transform: scale(1.1);
}
.cont_wrap .social {
  margin-top: 80px;
  width: 15%;
  display: flex;
  justify-content: space-between;
  font-size: 1.8em;
}
.cont_wrap .cont_block {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cont_wrap .cont_block p {
  display: inline-block;
  font-family: "Neris-Light";
  font-size: 1em;
  color: #000;
  margin-bottom: 5px;
}
.cont_wrap .cont_block img {
  margin-right: 10px;
}
.cont_wrap .cont_block a {
  display: inline-block;
  font-family: "Neris-Light";
  font-size: 1.2em;
  color: #000;
  vertical-align: middle;
  margin-bottom: 5px;
}
.cont_wrap .cont_block .c_b_mail,
.cont_wrap .cont_block .c_b_phone,
.cont_wrap .cont_block .c_b_loc {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  float: left;
  width: 100%;
  height: 500px;
}
figure.effect-apollo {
  height: 100%;
  width: 100%;
}
figure.effect-apollo img.main_img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
  width: 100%;
  height: 100%;
}
figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
figure.effect-apollo p {
  color: #fff;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 150px;
  border-right: 4px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.effect-apollo h2 {
  color: #fff;
  text-align: center;
}
figure.effect-apollo:hover img.main_img {
  opacity: 0.6;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
figure.effect-apollo:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
figure.effect-apollo:hover h2 {
  opacity: 0;
  transition: 0.5s;
  margin-left: 100%;
}
figure.effect-apollo:hover img#arr_wh {
  opacity: 1;
  transform: scale(1);
  left: 50%;
  margin-left: -32px;
  transition: 0.5s;
}
.grid figure {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #000;
  text-align: center;
  cursor: pointer;
}
.grid figure img.main_img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.75;
}
.grid figure figcaption {
  padding: 2em;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
img#arr_wh {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  left: 0%;
  top: 50%;
  margin-top: -22px;
  height: 45px;
  transition: 0.5s;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid figure figcaption > a {
  z-index: 10;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure h2 {
  font-family: "Neris-Light";
  font-size: 18px;
  margin-bottom: 5px;
  border: 1px solid #fff;
  padding: 5px 20px 7px 20px;
  transition: 0.5s;
}
.grid figure h2 span {
  font-family: "Neris-Black";
  font-size: 18px;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  font-family: "Neris-Light";
}
.descript {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
