/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1366px) {
  .head a {
    font-size: 1em;
  }
  footer .footer-inner .social {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  footer .footer-inner .fa {
    margin-top: 0;
  }
  .clients .clients-inner {
    width: 1170px;
  }
  .portfolio .proj_wrap {
    margin-top: 20px;
    width: 75%;
    margin: 0 auto;
  }
  .portfolio ul.portfolio-sorting {
    width: 75%;
  }
  .wrap {
    height: 100vh;
  }
  .wrap .right_wrap {
    height: 100vh;
  }
  .wrap .right_wrap .services {
    height: 100vh;
    padding-top: 0;
  }
  .wrap .right_wrap .services .service {
    height: 25vh;
    margin-bottom: 0;
  }
  .cont_wrap p#cont_p {
    width: 55%;
    font-size: 1.2em;
  }
  .cont_wrap .cont_block {
    width: 75%;
  }
  .project_wrap .project_inner p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
  }
  .project_wrap .project_inner {
    width: 1170px;
  }
  .project_wrap .project_inner .pr_imgs {
    width: 1170px;
    align-items: flex-end;
  }
  .project_wrap .project_inner .pr_imgs img {
    max-width: 550px;
  }
  .phas img {
    width: 100%;
  }
  .project_wrap .project_inner .plan {
    align-items: flex-start;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .head {
    width: 80%;
    left: 50px;
    top: 25px;
  }
  .head .logo {
    margin-right: 30px;
  }
  .head .logo img {
    width: 90%;
  }
  nav {
    width: 300px;
    padding: 20vh 20px 20px 20px;
  }
  nav .social_block {
    width: 260px;
  }
  nav .social_block .social {
    width: 260px;
  }
  .annot-inner {
    left: 150px;
    bottom: 15%;
  }
  .left img,
  .right img {
    width: 20%;
  }
  .wrap .left_wrap .about {
    left: 45%;
  }
  .wrap .right_wrap .services {
    margin-left: 0px;
  }
  .wrap .right_wrap .services .service {
    padding-left: 30px;
    padding-right: 30px;
  }
  .desc_over_ext .desc,
  .desc_over_int .desc,
  .desc_over_tour .desc,
  .desc_over_com .desc,
  .desc_over_st .desc,
  .desc_over_ob .desc,
  .desc_over_an .desc,
  .desc_over_dev .desc {
    margin-left: 20px;
    width: 200px;
  }
  .desc_over_ext .desc h1,
  .desc_over_int .desc h1,
  .desc_over_tour .desc h1,
  .desc_over_com .desc h1,
  .desc_over_st .desc h1,
  .desc_over_ob .desc h1,
  .desc_over_an .desc h1,
  .desc_over_dev .desc h1 {
    font-size: 1.5em;
  }
  #object br {
    display: none;
  }
  .triggers .triggers_inner {
    width: 900px;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .triggers .triggers_inner .trigger {
    width: 350px;
    margin-bottom: 60px;
  }
  .clients .clients-inner {
    width: 900px;
  }
  .recent .recent_inner {
    width: 900px;
  }
  footer .footer-inner {
    width: 900px;
  }
  footer .footer-inner .fa {
    margin-left: 0;
    margin-right: 10px;
  }
  footer .footer-inner .footer_nav ul {
    padding-left: 5px;
  }
  footer .footer-inner .social {
    justify-content: space-around;
  }
  .airplane img {
    width: 75px;
    right: 30px;
  }
  .proj_head,
  .contacts_head,
  .proj1_head {
    height: 250px;
  }
  .proj_head .logo img,
  .contacts_head .logo img,
  .proj1_head .logo img {
    width: 75%;
  }
  .cont_wrap p#cont_p {
    width: 60%;
    font-size: 1.1em;
  }
  .cont_wrap .social {
    width: 25%;
  }
  .cont_wrap .cont_block {
    width: 85%;
  }
  .cont_wrap .cont_block a {
    font-size: 1.1em;
  }
  .project_wrap .project_inner {
    width: 900px;
  }
  .project_wrap .project_inner .pr_imgs {
    width: 100%;
  }
  .nivo-lightbox-content {
    width: 100%;
  }
  .project_wrap .project_inner p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.0em;
  }
  .project_wrap .project_inner {
    width: 900px;
  }
  .project_wrap .project_inner .pr_imgs {
    width: 900px;
  }
  .project_wrap .project_inner .pr_imgs img {
    max-width: 400px;
  }
  .phas {
    width: 23%;
    margin: 1%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .phone img,
  .offer img,
  .present img {
    margin-right: 5px;
    width: 30px;
  }
  .head a {
    font-size: 0.8em;
  }
  .head .logo img {
    width: 75%;
  }
  .head .logo {
    margin-right: 0;
  }
  .annot-inner h1 {
    font-size: 50px;
  }
  .annot-inner h1:before {
    width: 75px;
    height: 7px;
  }
  .annot-inner {
    left: 100px;
  }
  .wrap .left_wrap .about {
    left: 20%;
  }
  .desc_over_ext .desc,
  .desc_over_int .desc,
  .desc_over_tour .desc,
  .desc_over_com .desc,
  .desc_over_st .desc,
  .desc_over_ob .desc,
  .desc_over_an .desc,
  .desc_over_dev .desc {
    margin-left: 50px;
    width: 280px;
  }
  .wrap .right_wrap .services {
    width: 100%;
  }
  .wrap .right_wrap .services .service:hover .details,
  .wrap .right_wrap .services .service .hover .details {
    width: 100%;
  }
  .wrap .right_wrap .services .service p {
    font-size: 0.97em;
  }
  .triggers .triggers_inner {
    width: 700px;
  }
  .triggers .triggers_inner .trigger {
    width: 300px;
  }
  .clients .clients-inner {
    width: 700px;
  }
  .recent .recent_inner {
    width: 700px;
  }
  .recent .recent_inner img {
    width: 50%;
  }
  .bid .bid-inner {
    width: 700px;
  }
  .bid .bid-inner .bid_fields {
    width: 370px;
    margin-right: 50px;
  }
  .bid .bid-inner .bid_social .bid_soc_inner img:first-child {
    width: 100%;
  }
  footer .footer-inner {
    width: 700px;
  }
  footer .footer-inner p {
    font-size: 0.7em;
  }
  footer .footer-inner .footer_nav ul {
    padding-left: 0;
  }
  footer .footer-inner .social {
    flex-wrap: wrap;
  }
  footer .footer-inner .copyright p {
    width: 90%;
    font-size: 0.67em;
  }
  footer .footer-inner .fa {
    margin-right: 5px;
  }
  footer .footer-inner .logo img {
    width: 75%;
  }
  footer .footer-inner .contacts a {
    width: 90%;
    font-size: 0.7em;
  }
  footer .footer-inner .contacts {
    margin-left: 3px;
    margin-right: 3px;
  }
  .proj_head,
  .contacts_head,
  .proj1_head {
    height: 200px;
  }
  .proj_head .logo img,
  .contacts_head .logo img,
  .proj1_head .logo img {
    width: 70%;
  }
  ul.portfolio-items li {
    width: 33.333333%;
  }
  .portfolio .proj_wrap .proj {
    margin-bottom: 2px;
  }
  .portfolio .proj_wrap {
    justify-content: center!important;
    align-items: center!important;
  }
  .portfolio ul.portfolio-sorting li a {
    font-size: 0.91em;
  }
  .grid figure h2 {
    font-size: 12px;
    padding: 5px 10px 7px 10px;
  }
  .grid figure h2 span {
    font-size: 12px;
  }
  figure.effect-apollo p {
    margin: 1em;
  }
  .cont_wrap p#cont_p {
    width: 60%;
    font-size: 1.0em;
    padding-top: 0;
  }
  .cont_wrap .social {
    width: 250px;
    margin-top: 50px;
  }
  .cont_wrap .bid_btn {
    padding: 3px 12px 7px 12px;
    font-size: 1.1em;
  }
  .cont_wrap .cont_block {
    width: 90%;
  }
  .cont_wrap .cont_block a {
    font-size: 0.9em;
  }
  .cont_wrap .cont_block .c_b_loc {
    text-align: center;
  }
  .cont_wrap .cont_block .c_b_mail,
  .cont_wrap .cont_block .c_b_phone,
  .cont_wrap .cont_block .c_b_loc {
    width: 30%;
    justify-content: center;
  }
  .project_wrap .project_inner {
    width: 700px;
  }
  .project_wrap .project_inner .pr_imgs img {
    max-width: 300px;
  }
  .nivo-lightbox-content {
    width: 100%;
  }
  .project_wrap .project_inner p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
  }
  .project_wrap .project_inner .pr_imgs {
    width: 700px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
  .head {
    left: 30px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .head a {
    font-size: 1em;
  }
  .head div {
    margin-bottom: 20px;
  }
  nav {
    position: absolute;
  }
  .menu {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .annot-inner {
    left: 50px;
    bottom: 25%;
  }
  .complex {
    bottom: 25%!important;
  }
  .wrap {
    height: 200vh;
  }
  .wrap .right_wrap {
    height: 200vh;
  }
  .wrap .right_wrap .services {
    height: 200vh;
    padding-top: 0;
  }
  .wrap .right_wrap .services .service {
    height: 25vh;
    margin-bottom: 0;
  }
  .wrap .left_wrap .about {
    left: 10%;
    width: 200px;
  }
  .wrap .right_wrap .services .service {
    width: 100%;
  }
  .desc_over_ext .desc,
  .desc_over_int .desc,
  .desc_over_tour .desc,
  .desc_over_com .desc,
  .desc_over_st .desc,
  .desc_over_ob .desc,
  .desc_over_an .desc,
  .desc_over_dev .desc {
    margin-left: 20px;
    width: 200px;
  }
  .desc_over_int .desc {
    padding-top: 250px;
  }
  .desc_over_tour .desc {
    padding-top: 600px;
  }
  .desc_over_com .desc {
    padding-top: 500px;
  }
  .desc_over_st .desc {
    padding-top: 800px;
  }
  .desc_over_ob .desc {
    padding-top: 1000px;
  }
  .desc_over_an .desc {
    padding-top: 1200px;
  }
  .desc_over_dev .desc {
    padding-top: 1300px;
  }
  .triggers .triggers_inner {
    width: 400px;
    justify-content: center;
  }
  .recent .recent_inner {
    width: 400px;
  }
  .recent .recent_inner img {
    width: 100%;
  }
  .clients .clients-inner {
    width: 400px;
  }
  .clients .client {
    width: 50%;
  }
  .bid .bid-inner {
    width: 400px;
    height: 500px;
  }
  .bid .bid-inner .bid_fields {
    width: 270px;
  }
  .bid .bid-inner .bid_social {
    display: none;
  }
  footer {
    height: 100%;
  }
  footer .footer-inner {
    width: 450px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  footer .footer-inner .logo {
    display: none;
  }
  footer .footer-inner .copyright img {
    display: block;
    width: 75%;
    margin-bottom: 5px;
  }
  footer .footer-inner .contacts a {
    font-size: 0.7em;
  }
  footer .footer-inner .social {
    flex-direction: column;
    line-height: 0.8;
    justify-content: flex-start;
  }
  footer .footer-inner .social .fa {
    font-size: 0.8em;
  }
  .airplane img {
    width: 50px;
  }
  .proj_head,
  .contacts_head,
  .proj1_head {
    height: 170px;
  }
  .proj_head .logo img,
  .contacts_head .logo img,
  .proj1_head .logo img {
    width: 60%;
  }
  ul.portfolio-items li {
    width: 50%;
  }
  .portfolio .proj_wrap {
    width: 85%;
    justify-content: center!important;
    align-items: center!important;
  }
  .portfolio ul.portfolio-sorting li a {
    font-size: 0.85em;
  }
  .portfolio h1 {
    font-size: 1.5em;
  }
  .portfolio h1:before {
    height: 4px;
  }
  .portfolio button {
    font-size: 1.2em;
    padding: 0px 20px 5px 20px;
  }
  .portfolio ul.portfolio-sorting {
    width: 85%;
  }
  .portfolio ul.portfolio-sorting li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .grid figure h2 {
    font-size: 14px;
    padding: 5px 10px 7px 10px;
  }
  .grid figure h2 span {
    font-size: 14px;
  }
  figure.effect-apollo p {
    margin: 1em;
  }
  .cont_wrap h1 {
    font-size: 1.5em;
    padding-top: 30px;
  }
  .cont_wrap h1:before {
    height: 4px;
  }
  .cont_wrap p#cont_p {
    width: 75%;
    font-size: 0.9em;
    padding-top: 0;
  }
  .cont_wrap .social {
    width: 200px;
    margin-top: 50px;
  }
  .cont_wrap .bid_btn {
    padding: 3px 12px 7px 12px;
    font-size: 1.1em;
  }
  .cont_wrap .cont_block {
    width: 60%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cont_wrap .cont_block a {
    font-size: 0.9em;
  }
  .cont_wrap .cont_block .c_b_loc {
    text-align: left;
  }
  .cont_wrap .cont_block .line_img {
    transform: rotate(90deg);
  }
  .cont_wrap .cont_block {
    width: 200px;
  }
  .cont_wrap .cont_block .c_b_mail,
  .cont_wrap .cont_block .c_b_phone,
  .cont_wrap .cont_block .c_b_loc {
    width: 100%;
    justify-content: flex-start;
  }
  .project_wrap .project_inner {
    width: 450px;
  }
  .project_wrap .project_inner .pr_imgs {
    max-width: 450px;
  }
  .project_wrap .project_inner .pr_imgs img {
    max-width: 200px;
  }
  .project_wrap .project_inner .big img {
    max-width: 450px;
  }
  .project_wrap .project_inner p {
    font-size: 0.9em;
  }
  .project_wrap .project_inner .proj_icons {
    width: 300px;
  }
  .nivo-lightbox-content {
    width: 100%;
  }
  .phas {
    width: 50%;
    margin: 0;
  }
  .big {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 30px 20px 20px 20px;
  }
  nav li {
    font-size: 1.5em;
  }
  .menu {
    right: 20px;
    top: 20px;
  }
  .head .offer a,
  .head .present a {
    font-weight: bold;
  }
  .scroll_d {
    display: none;
  }
  .annot-inner {
    bottom: 15%;
  }
  .complex {
    bottom: 15%!important;
  }
  .annot-inner h1 {
    font-size: 30px;
  }
  .annot-inner h1:before {
    width: 60px;
    height: 5px;
  }
  .annot-inner p {
    font-size: 18px;
  }
  .wrap .right_wrap .services .service {
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrap .right_wrap .services .service:nth-child(7) {
    margin-bottom: 0px;
  }
  .wrap .right_wrap .services .service:nth-child(8) {
    margin-bottom: 10px;
  }
  .wrap .left_wrap .about {
    width: 130px;
  }
  .serv_img img {
    width: 45%;
    height: auto;
  }
  .serv_img {
    align-items: center;
  }
  .wrap .left_wrap .about h1 {
    font-size: 1.6em;
  }
  .triggers .triggers_inner .trigger h1 {
    font-size: 2.2em;
  }
  .recent .recent_inner h1,
  .clients h1 {
    font-size: 1.6em;
  }
  .wrap .left_wrap .about h1 {
    margin-bottom: 20px;
  }
  .desc_over_ext .desc,
  .desc_over_int .desc,
  .desc_over_tour .desc,
  .desc_over_com .desc,
  .desc_over_st .desc,
  .desc_over_ob .desc,
  .desc_over_an .desc,
  .desc_over_dev .desc {
    margin-left: 15px;
    width: 135px;
  }
  .desc_over_ext .desc h1,
  .desc_over_int .desc h1,
  .desc_over_tour .desc h1,
  .desc_over_com .desc h1,
  .desc_over_st .desc h1,
  .desc_over_ob .desc h1,
  .desc_over_an .desc h1,
  .desc_over_dev .desc h1 {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  .desc_over_ext .desc p,
  .desc_over_int .desc p,
  .desc_over_tour .desc p,
  .desc_over_com .desc p,
  .desc_over_st .desc p,
  .desc_over_ob .desc p,
  .desc_over_an .desc p,
  .desc_over_dev .desc p {
    font-size: 0.8em;
  }
  .desc_over_int .desc {
    padding-top: 150px;
  }
  .desc_over_tour .desc {
    padding-top: 300px;
  }
  .desc_over_com .desc {
    padding-top: 200px;
  }
  .desc_over_st .desc {
    padding-top: 450px;
  }
  .desc_over_ob .desc {
    padding-top: 550px;
  }
  .desc_over_an .desc {
    padding-top: 700px;
  }
  .desc_over_dev .desc {
    padding-top: 900px;
  }
  .triggers .triggers_inner {
    width: 300px;
    margin: 70px auto 40px auto;
  }
  .triggers .triggers_inner .trigger {
    width: 280px;
    height: 200px;
    margin-bottom: 50px;
  }
  .triggers .triggers_inner .trigger p {
    font-size: 1em;
  }
  .recent .recent_inner {
    width: 300px;
  }
  .clients .client {
    width: 50%;
  }
  .clients .clients-inner {
    width: 300px;
  }
  .bid .bid-inner {
    width: 290px;
    height: 450px;
    padding: 20px;
  }
  .bid .bid-inner .bid_fields {
    width: 250px;
    margin-right: 0;
  }
  footer .footer-inner {
    width: 300px;
    flex-wrap: wrap;
  }
  footer .footer-inner .social {
    flex-direction: row;
  }
  footer .footer-inner .copyright p {
    width: 100%;
    text-align: center;
  }
  footer .footer-inner .footer_nav ul {
    margin-right: 20px;
  }
  footer .footer-inner .copyright img {
    margin: 0 auto;
  }
  footer .footer-inner {
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .proj_head,
  .contacts_head,
  .proj1_head {
    height: 150px;
  }
  .proj_head .logo img,
  .contacts_head .logo img,
  .proj1_head .logo img {
    width: 50%;
  }
  .portfolio .proj_wrap .proj {
    width: 100%;
  }
  .portfolio .proj_wrap {
    width: 95%;
    justify-content: center!important;
    align-items: center!important;
  }
  .portfolio ul.portfolio-sorting li a {
    font-size: 0.7em;
  }
  .portfolio h1 {
    font-size: 1.3em;
  }
  .portfolio h1:before {
    height: 4px;
  }
  .portfolio button {
    font-size: 1.0em;
    padding: 0px 20px 5px 20px;
  }
  .portfolio ul.portfolio-sorting {
    width: 95%;
  }
  .portfolio ul.portfolio-sorting li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .project_wrap .project_inner {
    width: 250px;
  }
  .project_wrap .project_inner .pr_imgs img {
    max-width: 200px;
  }
  .project_wrap .project_inner .pr_imgs {
    width: 250px;
  }
  .project_wrap .project_inner .big img {
    max-width: 250px;
  }
  .project_wrap .project_inner p {
    font-size: 0.8em;
  }
  .project_wrap .project_inner .proj_icons {
    width: 200px;
    align-items: flex-start;
  }
  .project_wrap .project_inner h1 {
    font-size: 1.5em;
  }
  .nivo-lightbox-wrap {
    left: 0;
    right: 0;
  }
  .nivo-lightbox-content {
    width: 100%;
  }
  .nivo-lightbox-theme-default .nivo-lightbox-prev,
  .nivo-lightbox-theme-default .nivo-lightbox-next {
    display: none!important;
  }
  .phas {
    width: 48%;
    margin: 1%;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  nav {
    padding: 20px 20px 20px 20px;
  }
  nav li {
    font-size: 1.5em;
  }
  nav .social_block {
    bottom: 20px;
  }
  .serv_img img {
    width: 35%;
    height: auto;
  }
  .wrap .right_wrap .services .service p {
    font-size: 0.8em;
  }
  .wrap .right_wrap .services .service {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrap .right_wrap .services .service .details {
    padding: 0px 10px 0px 10px;
  }
  .wrap .right_wrap .services .service:hover .details,
  .wrap .right_wrap .services .service .hover .details {
    height: 30px;
  }
  .wrap .left_wrap .about h1 {
    font-size: 1.4em;
  }
  .triggers .triggers_inner {
    width: 250px;
    margin: 70px auto 40px auto;
  }
  .triggers .triggers_inner .trigger {
    width: 230px;
    height: 200px;
    margin-bottom: 50px;
  }
  .triggers .triggers_inner .trigger p {
    font-size: 1em;
  }
  .recent .recent_inner {
    width: 250px;
  }
  .clients .client {
    width: 50%;
  }
  .clients .clients-inner {
    width: 250px;
  }
  .bid .bid-inner {
    width: 240px;
    height: 450px;
    padding: 20px;
  }
  .bid .bid-inner .bid_fields {
    width: 200px;
  }
  .bid .bid-inner .bid_fields h3 {
    font-size: 16px;
  }
  .triggers .triggers_inner .trigger h1 {
    font-size: 2em;
  }
  .recent .recent_inner h1,
  .clients h1 {
    font-size: 1.4em;
  }
  .airplane {
    display: none;
  }
  .desc_over_int .desc {
    padding-top: 150px;
  }
  .desc_over_tour .desc {
    padding-top: 250px;
  }
  .desc_over_com .desc {
    padding-top: 200px;
  }
  .desc_over_st .desc {
    padding-top: 400px;
  }
  .desc_over_ob .desc {
    padding-top: 500px;
  }
  .desc_over_an .desc {
    padding-top: 600px;
  }
  .desc_over_dev .desc {
    padding-top: 650px;
  }
  .project_wrap .project_inner {
    width: 200px;
  }
  .project_wrap .project_inner .pr_imgs img {
    max-width: 150px;
  }
  .project_wrap .project_inner .pr_imgs {
    width: 200px;
  }
  .project_wrap .project_inner .big img {
    max-width: 200px;
  }
  .project_wrap .project_inner p {
    font-size: 0.7em;
  }
  .project_wrap .project_inner .proj_icons {
    margin-top: 30px;
  }
  .project_wrap .project_inner .proj_icons img {
    width: 50px;
  }
  .phas {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 320px) and (max-height: 510px) {
  #object br {
    display: none;
  }
}
@media (max-width: 767px) and (max-height: 500px) {
  nav {
    padding: 20px;
  }
  nav li {
    font-size: 1.3em;
  }
  nav .social_block {
    bottom: 20px;
  }
  nav .social_block p {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav .social_block .fa {
    font-size: 2em;
  }
  nav h4 {
    font-size: 16px;
  }
  .menu {
    top: 20px;
    right: 20px;
  }
  .head {
    flex-direction: row;
  }
  .head a {
    font-size: 0.7em;
  }
  .scroll_d {
    display: none;
  }
  .annot-inner {
    bottom: 10%;
    left: 100px;
  }
  .complex {
    bottom: 10%!important;
  }
  .wrap .right_wrap .services .service {
    width: 50%;
    height: 50vh;
    padding-left: 15px;
    padding-right: 15px;
  }
  .desc_over_ext .desc h1,
  .desc_over_int .desc h1,
  .desc_over_tour .desc h1,
  .desc_over_com .desc h1,
  .desc_over_st .desc h1,
  .desc_over_ob .desc h1,
  .desc_over_an .desc h1,
  .desc_over_dev .desc h1 {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  .desc_over_ext .desc p,
  .desc_over_int .desc p,
  .desc_over_tour .desc p,
  .desc_over_com .desc p,
  .desc_over_st .desc p,
  .desc_over_ob .desc p,
  .desc_over_an .desc p,
  .desc_over_dev .desc p {
    font-size: 0.8em;
  }
  .desc_over_int .desc,
  .desc_over_ext .desc {
    padding-top: 50px;
  }
  .desc_over_tour .desc {
    padding-top: 100px;
  }
  .desc_over_com .desc {
    padding-top: 100px;
  }
  .desc_over_st .desc {
    padding-top: 250px;
  }
  .desc_over_ob .desc {
    padding-top: 250px;
  }
  .desc_over_an .desc {
    padding-top: 400px;
  }
  .desc_over_dev .desc {
    padding-top: 400px;
  }
  .triggers .triggers_inner {
    width: 650px;
    margin: 80px auto 0px auto;
  }
  .triggers .triggers_inner .trigger {
    width: 280px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) and (max-height: 400px) {
  nav {
    padding: 20px;
  }
  nav li {
    font-size: 1em;
  }
  nav .social_block {
    bottom: 20px;
  }
  nav .social_block p {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav .social_block .fa {
    font-size: 2em;
  }
  nav .social_block img {
    display: none;
  }
  nav h4 {
    font-size: 16px;
  }
  .menu {
    top: 20px;
    right: 20px;
  }
  .head {
    flex-direction: row;
  }
  .head a {
    font-size: 0.8em;
  }
  .head .logo {
    width: 80px;
  }
  .head .logo img {
    width: 100%;
  }
  .phone img,
  .offer img,
  .present img {
    margin-right: 0px;
    width: 15px;
  }
  .scroll_d {
    display: none;
  }
  .annot-inner {
    bottom: 10%;
    left: 100px;
  }
  .annot-inner h1 {
    font-size: 40px;
  }
  .annot-inner h1:before {
    height: 5px;
    width: 50px;
  }
  .annot-inner p {
    font-size: 20px;
  }
  .complex {
    bottom: 10%!important;
  }
  .desc_over_int .desc,
  .desc_over_ext .desc {
    padding-top: 50px;
  }
  .desc_over_tour .desc {
    padding-top: 100px;
  }
  .desc_over_com .desc {
    padding-top: 100px;
  }
  .desc_over_st .desc {
    padding-top: 200px;
  }
  .desc_over_ob .desc {
    padding-top: 200px;
  }
  .desc_over_an .desc {
    padding-top: 300px;
  }
  .desc_over_dev .desc {
    padding-top: 300px;
  }
  .wrap .left_wrap .about {
    top: 50px;
  }
  .wrap .left_wrap .about h1 {
    margin-bottom: 20px;
  }
  .wrap .right_wrap .services .service {
    width: 50%;
    height: 50vh;
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrap .right_wrap .services .service .serv_img img {
    width: 45%;
    margin: 0 auto;
    height: auto;
  }
  .wrap .right_wrap .services .service p {
    font-size: 0.9em;
  }
  .triggers .triggers_inner {
    width: 400px;
    margin: 80px auto 0px auto;
  }
  .triggers .triggers_inner .trigger {
    width: 280px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) and (max-height: 320px) {
  .wrap .right_wrap .services .service p {
    font-size: 0.8em;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
