.product-visual-thumb-overlay{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
}
.product-visual-thumb-play{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: black;
	opacity: 0.5;
	border-radius: 50%;
}
.product-visual-thumb-play img{
	width: 20px;
}
#slide-video{
	height: 500px;
	width: inherit;
}
.product-visual-slide-mobile{
	display: none;
}

@media only screen and (max-width: 768px){
	.product-visual-slide-mobile{
		display: block;
		height: 50px;
		background-color: #f1f2f2;
		text-align: center;
		font-weight: bold;
	}
	.product-visual-slide-mobile p{
		border-bottom: 1px dashed #000;
		display: inline;
	}
	.product-visual-slide-mobile img{
		margin-top: 15px;
		margin-right: 10px;
		vertical-align: sub;
	}
	.product-visual-slider .product-visual-slider-pagination{
		bottom: 70px;
	}
	.swiper-slide-video{
		line-height: 0;
	}
	.swiper-slide-3d{
		display: none;
	}
	#slide-video{
		height: 400px;
		width: inherit;
	}
	#slide-video-overlay{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

}
